.banner {
  color: $white;
  padding: $carbon--layout-04;

  .lead a {
    color: $white;
    text-decoration: solid underline $accent 2px;
  }

  > div {
    position: relative;
    z-index: 1;
  }
}

.banner-breadcrumbs {
  padding: 1rem;
  width: 100%;
  background: $gray-100;
  color: $white;

  .bx--breadcrumb-item .bx--link,
  .bx--breadcrumb-item .bx--link:visited,
  .bx--breadcrumb-item::after {
    color: $teal-10;
  }
}

@media (max-width: 1000px) {
  .banner {
    padding: $carbon--layout-02;
  }
}
