#explore {
  min-height: 50vh;
}

.dashboard {
  input[name*="ACCESS1-0"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="ACCESS1-0"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-ACCESS1-0);
    border-color: var(--gcm-ACCESS1-0);
  }

  input[name*="CanESM2"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CanESM2"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-CanESM2);
    border-color: var(--gcm-CanESM2);
  }

  input[name*="CCSM4"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CCSM4"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-CCSM4);
    border-color: var(--gcm-CCSM4);
  }

  input[name*="CESM1-BGC"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CESM1-BGC"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-CESM1-BGC);
    border-color: var(--gcm-CESM1-BGC);
  }

  input[name*="CMCC-CMS"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CMCC-CMS"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-CMCC-CMS);
    border-color: var(--gcm-CMCC-CMS);
  }

  input[name*="CNRM-CM5"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CNRM-CM5"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-CNRM-CM5);
    border-color: var(--gcm-CNRM-CM5);
  }

  input[name*="GFDL-CM3"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="GFDL-CM3"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-GFDL-CM3);
    border-color: var(--gcm-GFDL-CM3);
  }

  input[name*="HadGEM2-CC"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="HadGEM2-CC"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-HadGEM2-CC);
    border-color: var(--gcm-HadGEM2-CC);
  }

  input[name*="HadGEM2-ES"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="HadGEM2-ES"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-HadGEM2-ES);
    border-color: var(--gcm-HadGEM2-ES);
  }

  input[name*="MIROC5"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="MIROC5"]:checked + .bx--checkbox-label::before {
    background-color: var(--gcm-MIROC5);
    border-color: var(--gcm-MIROC5);
  }

  .bx--radio-button__appearance {
    background-color: #fff;
    border: 2px solid $teal-60;
  }

  .bx--radio-button:checked
    + .bx--radio-button__label
    .bx--radio-button__appearance {
    border-color: $teal-60;
  }

  .bx--radio-button:checked
    + .bx--radio-button__label
    .bx--radio-button__appearance::before {
    background-color: $teal-60;
    border-color: $teal-60;
  }

  .bx--label {
    color: $teal-80;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}
