footer {
  .footer-logos {
    background-image: linear-gradient(
      to top,
      var(--gray-60),
      #636b71,
      #5d646b,
      #575e64,
      #51585e
    );
    color: $white;

    // .bx--row {
    //   padding: 1.5rem 0;
    // }

    // .text {
    //   padding: 1rem 0;
    // }

    .logos {
      display: flex;
      align-items: baseline;
      justify-content: center;
      flex-wrap: wrap;

      a {
        background: $white;
        margin: 0.5rem;
      }

      @media (max-width: 1000px) {
        justify-content: flex-start;
      }
    }
  }

  .footer-links {
    background: $gray-80;
    display: flex;
    align-items: center;
    justify-content: center;

    a {
      color: $accent;
      margin: 1rem;
    }
  }

  .footer-copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}
