footer {
  .footer-logos {
    background-image: linear-gradient(to top, #697178, #636b71, #5d646b, #575e64, #51585e);
    color: $white;

    .bx--row {
      padding: 1.5rem 0;
    }

    .text {
      padding: 2rem;
    }

    .logos {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;

      a {
        background: $white;
         margin: 0.5rem;
      }
    }
  }

  .footer-links {
    background: $gray-80;
    display: flex;
    align-items: center;
    justify-content: center;
    
    a {
      color: $accent;
      margin: 1rem
    }
  }

  .footer-copyright {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 1rem;
  }
}