html {
  scroll-behavior: smooth;
}

section {
  padding: $carbon--layout-03;
}

table {
  border-collapse: collapse;
}

td,
th {
  border: 1px solid $gray-40;
  padding: 0.5rem;
  text-align: left;
}

td img {
  margin: 0 auto;
}
