@import "./mixins/media-queries";

.page-grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  max-width: 99rem;
  margin: 1rem auto;

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .footer {
    grid-area: footer;
    padding: 1rem;
  }

  .sidebar-left {
    grid-area: sidebar-left;
  }

  .sidebar-right {
    grid-area: sidebar-right;
    padding: 0 1rem 1rem;
  }

  .content {
    grid-area: content;
  }

  .content-extended {
    grid-column: 2 / span 3;
    margin-bottom: var(--spacing-13, 10rem);

    @include custom-1000 {
      grid-column: 1;
    }
  }
}

.page-grid--help {
  grid-template-columns: minmax(200px, 1fr) 3fr minmax(150px, 1fr);
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
    "sidebar-left nav nav"
    "sidebar-left header header"
    "sidebar-left content sidebar-right"
    "sidebar-left footer sidebar-right";

  @include custom-1000 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar-left"
      "header"
      "sidebar-right"
      "content"
      "footer";
  }

  .sidebar-left {
    .bx--side-nav__link-text,
    .sidebar-left--sub-toc {
      font-size: 1rem;
      text-transform: uppercase;
    }

    .bx--side-nav__menu-item .bx--side-nav__link-text {
      text-transform: none;
    }
  }

  .footer {
    padding: 0 2rem 1rem;
  }

  .sidebar-right {
    padding: 1rem;

    h4 {
      margin-top: 0;
    }
  }
}

.page-grid--blog {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "content sidebar-right"
    "footer sidebar-right";

  @include custom-1000 {
    grid-template-columns: 100%;
    grid-template-areas:
      "sidebar-right"
      "content"
      "footer";
  }
}

.page-grid--home {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "content sidebar-right"
    "footer sidebar-right";

  @include custom-1000 {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "content"
      "sidebar-right"
      "footer";
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .content-block {
      flex: 1 0 auto;
      margin: 1rem;
      padding: 1.5rem;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: calc(30% - 1rem);

      @include custom-1000 {
        width: calc(45% - 1rem);
      }

      a:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }

      .content-block-title {
        margin-top: 1rem;
        font-weight: 600;
      }

      .content-block-text {
        font-size: 1.25rem;
      }

      &.inverse {
        color: $white;
      }
    }
  }
}
