.page-grid {
  display: grid;
  grid-gap: 10px;
  width: 100%;
  max-width: 99rem;
  margin: 1rem auto;

  .header {
    grid-area: header;
  }

  .nav {
    grid-area: nav;
  }

  .footer {
    grid-area: footer;
    padding: 1rem;
  }

  .sidebar-left {
    grid-area: sidebar-left;
  }

  .sidebar-right {
    grid-area: sidebar-right;
    padding: 1rem;

    .sidebar-block:not(:first-of-type) {
      padding-top: 2rem;
    }

    .sidebar-block-link {
      display: block;
      padding-top: 1.5rem;
      text-transform: uppercase;
      font-size: 0.85rem;
    }
  }

  .content {
    grid-area: content;
  }

  .content-extended {
    grid-column: 2 / span 3;
    margin-bottom: var(--spacing-13, 10rem);
  }
}

.page-grid--help {
  grid-template-columns: minmax(200px, 1fr)  3fr minmax(150px, 1fr);
  grid-template-rows: min-content min-content 1fr min-content;
  grid-template-areas:
  "sidebar-left nav nav"
  "sidebar-left header header"
  "sidebar-left content sidebar-right"
  "sidebar-left footer sidebar-right";

  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "sidebar-left"
      "header"
      "sidebar-right"
      "content"
      "footer";
  }

  .sidebar-left {
    .bx--side-nav__link-text,
    .sidebar-left--sub-toc {
      font-size: 1rem;
      text-transform: uppercase;
    }

    .bx--side-nav__menu-item .bx--side-nav__link-text {
      text-transform: none;
    }
  }

  .footer {
    padding: 0 2rem 1rem;
  }

  .sidebar-right {
    padding: 1rem;

    h4 {
      margin-top: 0;
    }
  }
}

.page-grid--blog {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "content sidebar-right"
    "footer sidebar-right";

  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    grid-template-areas:
    "sidebar-right"
    "content"
    "footer";
  }
}

.page-grid--tool {
  grid-template-columns: auto 20%;
  grid-template-rows: min-content 1fr min-content;
  grid-gap: 0;
  background-color: rgba(250, 251, 251, 1);

  .header {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    position: relative;
    padding: 1rem 2rem;

    .lead {
      max-width: 70ch;
    }

    .header-actions {
      display: flex;
      flex-direction: row;
      position: absolute;
      right: 5px;
      top: 10px;
    }
  }

  .footer {
    grid-column: 1 / -1;
    grid-row: 3 / 4;

    .title {
      margin-top: 3rem;
      font-weight: 600;
    }
  }

  .sidebar {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    padding: 1rem;

    .settings-header {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;
    }
  }

  .sidebar-toggle {
    position: fixed;
    top: 50%;
    right: 0;
    margin-right: 0;
    padding: 0;
    transform: translateY(-50%) ;
    background: rgba(4,121,124,0.8);
    z-index: 10;
  }

  .content {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    padding: 1rem;
  }

  .content.sidebarCollapsed {
    grid-column: 1 / -1;
  }

  .content-grid {
    display: grid;
    grid-template-columns: repeat(12, [col] 1fr );
    // The 150px row corresponds to height of Select Boundary block
    // Without explicit height, the grid child items takes up too much space
    grid-template-rows: min-content min-content 150px auto;
    grid-gap: 1rem;

    .block {
      background-color: var(--white);
      box-shadow: 0 2px 3px rgba(22, 28, 45, 0.1);
      padding: 1rem;
    }

    .content-header {
      grid-column: col / span 12;
      grid-row: 1;

      .icon {
        display: block;
        margin-right: 1rem;
      }

      .title {
        margin: 0;
        font-weight: 600;
      }
    }

    .content-stats {
      grid-column: span 4;
    }

    .content-boundary {
      grid-column: col / span 4;
      grid-row: 3;
      max-height: 150px;

      .boundary-upload {
        display:flex;
        justify-content:space-between;
        align-items:center;
        margin-top: 1rem;
      }
    }

    .content-map {
      grid-column: col / span 4;
      grid-row: 4;
      height: 100%;
      position: relative;
      box-shadow: 0 2px 3px rgba(22, 28, 45, 0.1);
    }

    .content-chart {
      grid-column: col 5 / span 8;
      grid-row: 3 / span 2;

      .chart-title {
        font-weight: 600;
        font-size: 1.25rem;
        display: block;
        line-height: 1.5;
      }

      .chart-subtitle {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        display: block;
      }

      .chart-legend, .series-select {
        margin: 1rem 0;
      }

      .chart-notes {
        color: $gray-60;
        padding: 1rem 0;
        font-size: 0.75rem;
      }

      .chart-download {
        display:flex;
        justify-content:space-between;
        align-items:center;
      }
    }
  }

  .content-grid-alt1 {
    grid-template-rows: min-content 150px min-content auto;

    .content-boundary {
      grid-row: 2;
    }

    .content-map {
      grid-row: 3;
    }

    .content-chart {
      grid-row: 2 / span 2;

      .chart-subtitle {
        text-transform: uppercase;
        line-height: 1.5;
        margin: 0.25rem 0;
      }
    }

    .content-stats {
      grid-row: 4;
      grid-column: span 4;
      
      .stat-title {
        font-size: 1.1rem;
        font-weight: bold;
        line-height: 1.29;
      }

      .stat-subtitle {
        text-transform: uppercase;
        line-height: 1.5;
        color: #04797c;
        margin: 0.5rem 0;
      }

      .stat-note {
        color: #51585e;
      }
    }
  }

  .content-grid-animation {
    grid-template-columns: 200px 2fr;
    grid-template-rows: min-content min-content 600px;
    grid-template-areas:
    "content sidebar"
    "footer footer";

    .content-header {
      grid-row: 1;
      grid-column: 1/-1;
    }

    .content-select {
      grid-row: 2;
      grid-column: 1;
    }

    .content-controls {
      grid-row: 2;
      grid-column: 2;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .content-animation {
      grid-row: 3;
      grid-column: 1/-1;
      position: relative;

      .animation-title {
        font-weight: 600;
        font-size: 1.25rem;
        display: block;
        line-height: 1.5;
      }

      .animation-subtitle {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        display: block;
      }
    }
  }

  .suggestions {
    background-color: #fff;
    border-radius: 4px;
    position: absolute;
    width: 100%;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 0;
    z-index: 1000;
    overflow: hidden;
    font-size: 15px;
    box-shadow: 0 0 10px 2px rgba(0,0,0,0.1);
  }

  .suggestions .suggestion {
    cursor: default;
    display: block;
    padding: 6px 12px;
    color: #404040;
  }

  .suggestions .suggestion:hover {
    color: #404040;
    background-color: #f3f3f3;
    text-decoration: none;
    cursor: pointer;
  }

  .suggestion-title, .suggestion-address {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .suggestion-title {
    font-weight: bold;
  }

  .location-search {
    position: absolute;
    left: 5px;
    top: 5px;
    z-index: 2;
    box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, 0.05);
    width: 14rem;
  }

  :global(.bx--label::before),
  :global(.bx--accordion__title::before) {
    content: '';
    background: url(img/icons/gear.svg);
    display: inline-block;
    height: 1rem;
    width: 1rem;
    margin-right: 3px;
    vertical-align: -25%;
  }
}

.page-grid--home {
  grid-template-columns: 3fr 1fr;
  grid-template-rows: auto;
  grid-template-areas:
  "content sidebar-right"
  "footer sidebar-right";

  @media (max-width: 1000px) {
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
      "content"
      "sidebar-right"
      "footer";
  }

  .content {
    display: flex;
    flex-wrap: wrap;

    .content-block {
      flex: 1 0 auto;
      margin: 1rem;
      padding: 1.5rem;
      aspect-ratio: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: relative;
      width: calc(30% - 1rem);

      @media (max-width: 1000px) {
        width: calc(45% - 1rem);
      }

      a:before {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        content: "";
      }

      .content-block-title {
        margin-top: 1rem;
        font-weight: 600;
      }

      .content-block-text {
        font-size: 1.25rem;
      }

      &.inverse {
        color: $white;
      }
    }
  }
}



