.icon {
  width: 60px;
  display: inline-block;

  @include custom-1000 {
    width: 45px;
  }
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4.1875rem;
  height: 4.1875rem;
  border-radius: 50%;
}
