.icon {
  width: 60px;
  display: inline-block;
}

@media (max-width: 1000px) {
  width: 45px;
}

.icon-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 4.1875rem;
  height: 4.1875rem;
  border-radius: 50%;
}
