html {
  scroll-behavior: smooth;
}

section {
  padding: $carbon--layout-03;
}

/* .banner {
  color: $white;

  h1 {
    @include type-style('display-01', true);
  }

  .lead a {
    color: $white;
    text-decoration: solid underline $teal-20 2px;
  }

  > div {
  	position: relative;
  	z-index: 1;
  }
} */