h1.landing {
  @include type-style('display-01');
}

.news {
  background: $gray-20;

  .news-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    margin-right: 1.5rem;

    h4 {
      margin: 0;
      color: $gray-70;
      text-transform: uppercase;
      font-size: 1rem;
    }
  }

  .post {
    background-size: cover;
    height: 80%;

    .post-body {
      padding: 1.5rem;
      color: $white;
      height: 100%;
      position: relative;

      h3 {
        margin-top: 0;
      }

      p {
        margin-bottom: 0;
      }

      a {
        color: $white;
        text-decoration: solid underline $teal-20 1px;
      }
    }
  }

  .contact {
    padding: 2rem 1rem 1rem;
  }

}

.help {
  h2 {
    margin-top: 0;
  }
}

.tools {
  .tools-header, .tools-text {
    display: flex;
    align-items: center;
    padding: $layout-02;
  }

  .tools-text {
    margin-top: 1.5rem;
  }

  .tools-list {
    margin-top: 2rem;

    .carousel > .slides {
      height: 350px;
    }

    .carousel > ul > li {
      background-color: rgba(0,0,0,0.5);

      &.active {
        background-color: rgb(0,0,0);
      }
    }

    .carousel .control :global(svg) {
      border-radius: 50%;
      background: transparentize($blue-70, 0.2);
    }
  }

  .card {
    height: 300px;

    .truncate {
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
  }

  .slide-content {
    margin: 0 6px;
  }
}

.partners {
  background-color: $white;

  .partners-text {
    margin: auto;
    padding: 2rem;
    padding-left: 5rem;
  }

  .partners-images {
    display: flex;
    flex-wrap: wrap;

    img {
      max-width: 200px;
      height: 100%;
      display: block;
      margin: 1rem;
      self-align: center;
    }
  }
}