.tool {
  .section {
    margin: 4rem 2rem;
    min-height: 300px;
  }

  .block {
    background-color: var(--white);
    border: 1px solid var(--gray-20);
    box-shadow: var(--box-shadow);
    height: auto;
    box-sizing: border-box;
    padding: 1rem;

    &.block-settings {
      background-color: var(--gray-20);
    }

    .block-title {
      font-weight: 600;
      margin: 0;
    }
  }

  #header {
    .banner {
      padding: 2rem;
      background: var(--gray-10);
      color: var(--text-01);

      h1 {
        margin-top: var(--spacing-8);
      }
    }

    .lead {
      max-width: 70vw;
    }
  }

  .secondary-nav {
    width: 100%;
    top: 0;
    border-bottom: 1px solid var(--gray-50);
    z-index: 3;
    background: var(--gray-30);

    ul {
      display: flex;
      flex-wrap: wrap;
      list-style-type: none;
      text-transform: uppercase;
      margin: 0 2rem;
    }

    ul li {
      margin-right: 1rem;
      cursor: pointer;
      padding: 0.5rem;
      color: #000;
    }

    ul li:hover {
      background: var(--gray-50);
    }

    ul li.active {
      font-weight: 600;
    }
  }

  #select {
    margin-top: 3rem;

    .select-location {
      display: grid;
      grid-template-columns: 2fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "tool-header tool-blank"
        "tool-map tool-current"
        "tool-map tool-search"
        "tool-map tool-boundary";

      grid-gap: 1rem;
      max-width: 1400px;
      min-height: 200px;

      .select-location-header {
        grid-area: tool-header;

        h2 {
          margin-top: 0;
        }

        ul {
          margin-left: 2rem;
        }
      }

      .select-location-blank {
        grid-area: tool-blank;
      }

      .select-location-current {
        grid-area: tool-current;

        h3 {
          margin-top: 0;
          margin-bottom: 0.5rem;
          font-weight: 400;
          text-transform: uppercase;
          color: $gray-70;
          font-size: 0.75rem;
        }

        p {
          margin: 0;
          font-weight: 600;
        }
      }

      .select-location-help {
        grid-area: tool-help;

        padding: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;

        .bx--tag {
          padding: 0.25rem 0.75rem;
          font-size: 1rem;
          background-color: $blue-50;
          color: $white;
          margin: 0.5rem;
        }
      }

      .select-location-boundary {
        grid-area: tool-boundary;

        .boundary-upload {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-top: 1rem;
        }
      }

      .select-location-search {
        grid-area: tool-search;

        position: relative;

        .suggestions {
          background-color: #fff;
          border-radius: 4px;
          position: absolute;
          width: 100%;
          left: 0;
          list-style: none;
          margin: 0;
          padding: 0;
          z-index: 1000;
          overflow: hidden;
          font-size: 15px;
          box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);

          .suggestion {
            cursor: default;
            display: block;
            padding: 6px 12px;
            color: #404040;
          }

          .suggestion:hover {
            color: #404040;
            background-color: #f3f3f3;
            text-decoration: none;
            cursor: pointer;
          }

          .suggestion-title,
          .suggestion-address {
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
          }

          .suggestion-title {
            font-weight: bold;
          }
        }
      }

      .select-location-map {
        grid-area: tool-map;
      }
    }
  }

  #explore {
    .explore {
      display: grid;
      grid-template-columns: 3fr 1fr;
      grid-template-rows: auto;
      grid-template-areas:
        "tool-controls tool-settings"
        "tool-header tool-settings"
        "tool-stats tool-settings"
        "tool-chart tool-settings";

      grid-gap: 1rem;
      max-width: 1400px;
      min-height: 400px;

      .explore-loading-overlay {
        grid-row: 2 / -1;
        grid-column: 1 / -1;

        display: flex;
        align-items: center;
        justify-content: center;
        background: rgba($gray-20, 0.5);
        z-index: 2;
      }

      .explore-controls {
        grid-area: tool-controls;
      }

      .explore-header {
        grid-area: tool-header;

        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .explore-header-title {
          padding: 1rem;
          flex: 1;

          > * {
            margin: 0.5rem 0;
          }
        }

        .static-map {
          width: 25%;
          max-width: 300px;

          img {
            width: 100%;
          }
        }

        p.block-note {
          margin: 0.25rem 0;
        }

        .block {
          margin-bottom: 1rem;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .explore-stats {
        grid-area: tool-stats;

        width: 100%;
        display: grid;
        grid-template-columns: repeat(
          auto-fill,
          minmax(var(--card-width, 16rem), 1fr)
        );
        grid-gap: var(--gap, 1rem);
        list-style: none;
        padding: 0;
        margin: 0;

        li.block {
          display: flex;
          flex-direction: column;
          position: relative;

          .bx--btn {
            padding-left: 0;
          }
        }
      }

      .explore-chart {
        grid-area: tool-chart;

        .chart-notes {
          padding: 1rem 0;
          font-size: 0.75rem;
        }

        .chart-download {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .explore-settings {
        grid-area: tool-settings;

        padding: 0;

        h4 {
          font-weight: 600;
        }
      }
    }
  }

  input[name*="ACCESS1-0"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="ACCESS1-0"]:checked + .bx--checkbox-label::before {
    background-color: rgba(31, 119, 180, 1);
    border-color: rgba(31, 119, 180, 1);
  }

  input[name*="CanESM2"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CanESM2"]:checked + .bx--checkbox-label::before {
    background-color: rgba(188, 189, 34, 1);
    border-color: rgba(188, 189, 34, 1);
  }

  input[name*="CCSM4"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CCSM4"]:checked + .bx--checkbox-label::before {
    background-color: rgba(44, 160, 44, 1);
    border-color: rgba(44, 160, 44, 1);
  }

  input[name*="CESM1-BGC"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CESM1-BGC"]:checked + .bx--checkbox-label::before {
    background-color: rgba(140, 86, 75, 1);
    border-color: rgba(140, 86, 75, 1);
  }

  input[name*="CMCC-CMS"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CMCC-CMS"]:checked + .bx--checkbox-label::before {
    background-color: rgba(227, 119, 194, 1);
    border-color: rgba(227, 119, 194, 1);
  }

  input[name*="CNRM-CM5"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="CNRM-CM5"]:checked + .bx--checkbox-label::before {
    background-color: rgba(23, 190, 207, 1);
    border-color: rgba(23, 190, 207, 1);
  }

  input[name*="GFDL-CM3"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="GFDL-CM3"]:checked + .bx--checkbox-label::before {
    background-color: rgba(255, 127, 14, 1);
    border-color: rgba(255, 127, 14, 1);
  }

  input[name*="HadGEM2-CC"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="HadGEM2-CC"]:checked + .bx--checkbox-label::before {
    background-color: rgba(69, 68, 68, 1);
    border-color: rgba(69, 68, 68, 1);
  }

  input[name*="HadGEM2-ES"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="HadGEM2-ES"]:checked + .bx--checkbox-label::before {
    background-color: rgba(214, 39, 40, 1);
    border-color: rgba(214, 39, 40, 1);
  }

  input[name*="MIROC5"] + .bx--checkbox-label::before,
  input.bx--checkbox[name*="MIROC5"]:checked + .bx--checkbox-label::before {
    background-color: rgba(148, 103, 189, 1);
    border-color: rgba(148, 103, 189, 1);
  }

  .bx--radio-button__appearance {
    background-color: #fff;
    border: 2px solid $teal-60;
  }

  .bx--radio-button:checked
    + .bx--radio-button__label
    .bx--radio-button__appearance {
    border-color: $teal-60;
  }

  .bx--radio-button:checked
    + .bx--radio-button__label
    .bx--radio-button__appearance::before {
    background-color: $teal-60;
    border-color: $teal-60;
  }

  .bx--accordion__item {
    box-shadow: 0 2px 3px rgba(22, 28, 45, 0.2);
    background-color: $gray-20;
    border-top: none;
    margin: 0.5rem 0;
  }

  .bx--accordion__arrow {
    stroke: $teal-80;
    stroke-width: 2;
  }

  .bx--label,
  .bx--accordion__title {
    color: $teal-80;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.9rem;
  }

  .bx--accordion__heading:hover::before,
  .bx--btn--ghost:hover {
    background-color: var(--gray-20);
  }

  .bx--accordion__content {
    padding-right: 1rem;
    padding-bottom: 0;
  }
}
