.h1,
h1 {
  @include type-style("display-02", false);
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
}

.h2,
h2 {
  @include type-style("expressive-heading-05", false);
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
  font-weight: 600;
}

.h3,
h3 {
  @include type-style("expressive-heading-04", false);
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
  font-weight: 600;
}

.h4,
h4 {
  @include type-style("expressive-heading-03", false);
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
  font-weight: 600;
}

.h5,
h5,
.h6,
h6 {
  // h5 and h6 intentionally mimic one another
  @include type-style("productive-heading-02", false);
  margin-top: $spacing-lg;
  margin-bottom: $spacing-md;
  font-weight: 600;
}

p {
  @include type-style("body-long-02", false);
  margin-bottom: $spacing-md;
  max-width: $p-default-max-width;
}

p.lead {
  @include type-style("expressive-paragraph-01", false);
  margin-top: $spacing-md;
  margin-bottom: $spacing-md;
  max-width: $p-lead-default-max-width;
}

p.feedback {
  font-style: italic;
  float: right;
  margin: 1rem;
  color: $gray-80;
}

p.reference {
  padding: 1rem;
  font-size: 0.9rem;
  background-color: $gray-20;

  a {
    color: #0147cb;
  }
}

blockquote {
  h3 {
    padding: 2rem 2rem 0;
  }
  p {
    @include type-style("quotation-01", false);
    margin-bottom: 0;
    padding: 2rem 2rem 0;
  }
}

figure {
  margin: 2rem;

  figcaption {
    @include type-style("body-short-02", false);
    color: $gray-70;
    padding: 2rem;
  }

  img {
    width: 100%;
    margin: 0 auto;
  }

  &.image {
    display: flex;
    flex-direction: column;
  }

  &.quote {
    background: $teal-20;

    figcaption {
      color: $gray-100;
    }
  }

  .report {
    max-height: 250px;
    width: auto;
    border: 4px solid $teal-20;
  }
}

@each $name, $value in $caladapt-colors {
  .text-#{$name} {
    color: $value;
  }
}

$weights: (
  light: 300,
  normal: 400,
  bold: 600,
);

@each $name, $value in $weights {
  .font-weight-#{$name} {
    font-weight: $value;
  }
}

ul,
ol {
  @include type-style("body-long-02", false);
  list-style: inherit;
  line-height: 1.6;
}

a {
  text-decoration: underline 0.1em rgba(0, 0, 0, 0);
  transition: text-decoration-color 300ms;

  &:hover {
    text-decoration-color: #0043ce;
  }
}

.small {
  font-size: 0.8rem;
}
