@import "../variables";

.shadow {
  box-shadow: $box-shadow;
}

// Lift
.lift {
  transition: box-shadow 0.25s ease, transform 0.25s ease;
}

.lift:hover,
.lift:focus {
  box-shadow: $box-shadow-lift;
  transform: translate3d(0, -3px, 0);
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

hr {
  background-color: transparent;
  border-top: 1px solid $gray-20;
  margin: 2rem 0;
  color: $gray-20;
}

.is-sticky {
  height: auto;
  position: sticky;
  top: 1rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-row {
  display: flex;
  align-items: center;
}

// prevents a table from extending beyond its parent's width
.table-wrapper {
  overflow-x: auto;
  max-width: 48rem;
}

.img--get-started {
  width: 100%;
  border: 1px solid $gray-30;
}

// visually hidden but still discoverable by assistive tech
.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

// totally hidden, not discoverable by assistive tech
.hidden {
  display: none !important;
}
