// Vertical height
.spacing--v-1 {
  height: $spacing-1;
}

.spacing--v-2 {
  height: $spacing-2;
}

.spacing--v-4 {
  height: $spacing-4;
}

.spacing--v-8 {
  height: $spacing-8;
}

.spacing--v-12 {
  height: $spacing-12;
}

.spacing--v-16 {
  height: $spacing-16;
}

.spacing--v-24 {
  height: $spacing-24;
}

.spacing--v-32 {
  height: $spacing-32;
}

.spacing--v-40 {
  height: $spacing-40;
}

.spacing--v-48 {
  height: $spacing-48;
}

.spacing--v-96 {
  height: $spacing-96;
}

.spacing--v-160 {
  height: $spacing-160;
}

// Vertical Margins
.margin--v-1 {
  margin: $spacing-1 0;
}

.margin--v-2 {
  margin: $spacing-2 0;
}

.margin--v-4 {
  margin: $spacing-4 0;
}

.margin--v-8 {
  margin: $spacing-8 0;
}

.margin--v-12 {
  margin: $spacing-12 0;
}

.margin--v-16 {
  margin: $spacing-16 0;
}

.margin--v-24 {
  margin: $spacing-24 0;
}

.margin--v-32 {
  margin: $spacing-32 0;
}

.margin--v-40 {
  margin: $spacing-40 0;
}

.margin--v-48 {
  margin: $spacing-48 0;
}

.margin--v-96 {
  margin: $spacing-96 0;
}

.margin--v-160 {
  margin: $spacing-160 0;
}
