.spacing--v-1 {
  height: $spacing-1;
}

.spacing--v-2 {
  height: $spacing-2;
}

.spacing--v-4 {
  height: $spacing-4;
}

.spacing--v-8 {
  height: $spacing-8;
}

.spacing--v-12 {
  height: $spacing-12;
}

.spacing--v-16 {
  height: $spacing-16;
}

.spacing--v-24 {
  height: $spacing-24;
}

.spacing--v-32 {
  height: $spacing-32;
}

.spacing--v-40 {
  height: $spacing-40;
}

.spacing--v-48 {
  height: $spacing-48;
}

.spacing--v-96 {
  height: $spacing-96;
}

.spacing--v-160 {
  height: $spacing-160;
}
